Repository redhat-best-practices-for-k8s/certsuite, pull requests merged in 2023-09, with the labels that each got.

#1408 Fix do not merge
  .github/workflows/merge.yaml
Labels: do not merge

#1390 config: delete deprecated field targetPodLabels
  cnf-certification-test/chaostesting/pod_delete/pod_delete.go
  cnf-certification-test/chaostesting/pod_delete/pod_delete_test.go
  cnf-certification-test/tnf_config.yml
  pkg/autodiscover/autodiscover.go
  pkg/autodiscover/autodiscover_test.go
  pkg/configuration/config_test.go
  pkg/configuration/configuration.go
  pkg/configuration/testdata/tnf_test_config.yml
Labels: non backward compatible

#1455 config: delete static container image check
  CATALOG.md
  cnf-certification-test/certification/suite.go
  cnf-certification-test/certification/suite_test.go
  cnf-certification-test/identifiers/identifiers.go
  cnf-certification-test/identifiers/remediation.go
  cnf-certification-test/tnf_config.yml
  generated_policy.json
  internal/certdb/onlinecheck/onlinecheck.go
  internal/certdb/onlinecheck/onlinecheck_test.go
  pkg/configuration/config_test.go
  pkg/configuration/configuration.go
  pkg/configuration/testdata/tnf_test_config.yml
  pkg/provider/containers.go
  pkg/provider/containers_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/testhelper/testhelper.go
Labels: non backward compatible

#1447 Enable more suites for QE nightly runs
  .github/workflows/qe.yaml
Labels: work in progress
